---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import OtherNews from "../components/OtherNews.astro";
import MainNews from "../components/MainNews.astro";
---

<Layout title="News Homepage">
  <main class="p-8 md:p-16 relative">
    <Navbar />
    <section
      class="w-full h-screen md:h-[820px] mt-8 grid grid-cols-1 md:grid-cols-3 md:grid-rows-3"
    >
      <MainNews />
      <OtherNews />
    </section>
  </main>
</Layout>
