---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
---

<Layout title="News Homepage">
  <main class="p-12 md:p-20 relative">
    <Navbar />
  </main>
</Layout>
