---
const asideNews = [
  {
    id: 1,
    title: "Hydrogen VS Electric Cars",
    content: "Will hydrogen-fueled cars ever catch up to EVs?",
  },
  {
    id: 2,
    title: "The Downsides of AI Artistry",
    content:
      "What are the possible adverse effects of on-demand Ai image generation?",
  },
  {
    id: 3,
    title: "Is VC Funding Drying Up?",
    content:
      "Private funding by VC firms is down 50% YOY. We take a look at that what means.",
  },
];
---

<aside class="w-full h-full bg-neutral-very-dark-blue p-6">
  <h3 class="text-primary-soft-orange font-bold text-2xl md:text-4xl">New</h3>

  <section class="w-full flex flex-col space-y-12 justify-between mt-8">
    {
      asideNews.map((item) => (
        <article class="pb-2 border-b-2 border-b-neutral-dark-grayish-blue">
          <h3 class="font-bold text-neutral-off-white text-2xl cursor-pointer transition-colors duration-300 hover:text-primary-soft-orange">
            {item.title}
          </h3>
          <p class="mt-4 text-neutral-grayish-blue">{item.content}</p>
        </article>
      ))
    }
  </section>
</aside>
