---
import AsideNews from "./AsideNews.astro";
import MainNewsComponent from "./MainNewsComponent.astro";
---

<section class="flex md:gap-10 md:col-span-3 md:row-span-2">
  <MainNewsComponent />
  <AsideNews />
</section>
